.navBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blanchedalmond;
    padding: 15px 7%;
}

.icono {
    width: 160px;
}

ul {
    flex: 1;
    list-style: none;
    text-align: center;
}

ul li {
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
}

ul li a {
    text-decoration: none;
}